appdirs==1.4.3
atomicwrites==1.3.0
attrs==19.1.0
cvxopt==1.2.3
cvxpy==1.0.21
cycler==0.10.0
Cython==0.29.7
decorator==4.4.0
dill==0.2.9
ecos==2.0.7.post1
fastcache==1.1.0
future==0.17.1
kiwisolver==1.1.0
llvmlite==0.28.0
Mako==1.0.9
MarkupSafe==1.1.1
matplotlib==3.0.3
more-itertools==7.0.0
multiprocess==0.70.7
numba==0.43.1
numpy==1.16.3
osqp==0.5.0
pathlib2==2.3.3
pkg-resources==0.0.0
pluggy==0.9.0
py==1.8.0
pycuda==2018.1.1
pyparsing==2.4.0
pytest==4.4.1
python-dateutil==2.8.0
pytools==2019.1.1
scipy==1.2.1
scs==2.1.0
six==1.12.0
git+https://github.com/room-10/Opymize
git+https://github.com/room-10/Repyducible
